<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.covid19cz.erouska">

    <application>
        <activity android:name=".ui.ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="erouska-dev" />
            </intent-filter>
        </activity>
    </application>

</manifest>